<h2 [ngStyle]="{
  'font-size': font_size + 'rem',
  'font-family': font_family,
  color
}">Testing style directive</h2>

<hr>

<h2>Class directive</h2>

<p [ngClass]="introduction">Paragraph with dynamic classes</p>
<p [ngClass]="paragraph">Regular paragraph.</p>

<hr>

<h2>Conditionals</h2>
<div *ngIf="show_content">Content's visible</div>
<p *ngIf="name !== 'John Doe'; else nameNotFound">Visible for anyone but <em>John</em></p>
<ng-template #nameNotFound>
  Only visible for <em>{{ name }}</em>
</ng-template>

<h2>List rendering</h2>
<p>Showing <strong>{{ animals.length }}</strong> animals:</p>
<ul>
  <li *ngFor="let animal of animals" class="animal-container">
    <h3>{{ animal.name }}</h3>
    <span class="label">{{ animal.type }}</span>
    <button (click)="showAge(animal)">View age</button>
    <button (click)="removeAnimal(animal)" class="-negative">Remove</button>
  </li>
</ul>

<p class="paragraph">{{ animal_details }}</p>

<button (click)="addAnimal()">Add animal</button>
