h2 {
  color: var(--color-primary);
}

a {
  display: inline-flex;
  padding: 11px 20px 13px;
  text-decoration: unset;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: white;
  background-color: var(--color-primary);
  border-radius: 2px;
}
