:root {
  --color-primary: hsl(0, 93%, 31%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 500px;
  font-family: sans-serif;
}

a {
  color: var(--color-primary);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

dl {
  margin-bottom: 20px;
}

dt {
  font-weight: 700;
}

dd {
  padding-left: 20px;
}

button {
  display: inline-flex;
  padding: 11px 20px 13px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  cursor: pointer;
  border-style: none;
  box-shadow: 0 1px 2px lightgray, 0 2px 4px lightgray;
}

button:active {
  color: white;
  background-color: black;
  box-shadow: 0 0 0;
}
