:root {
  --color-primary: hsl(0, 93%, 31%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: var(--color-primary);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

dl {
  margin-bottom: 20px;
}

dt {
  font-weight: 700;
}

dd {
  padding-left: 20px;
}
