:root {
  --color-primary: hsl(0, 93%, 31%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: var(--color-primary);
}
